@page
@model GTFS_Explorer.FrontEnd.Pages.MainPages.SystemMapModel
@{
    ViewData["Title"] = "SystemMap";
}

<section>
    <div class="header">
        <div class="header-right">
            <a asp-page="/MainPages/Routes">Routes</a>
            <a asp-page="/MainPages/Stops">Stops</a>
            <a class="active" asp-page="/MainPages/SystemMap">Map</a>
        </div>
    </div>
</section>