@page
@model GTFS_Explorer.FrontEnd.Pages.MainPages.RoutesModel
@{
    ViewData["Title"] = "Routes";
}

<section>
    <div class="header">
        <div class="header-right">
            <a class="active" asp-page="/MainPages/Routes">Routes</a>
            <a asp-page="/MainPages/Stops">Stops</a>
            <a asp-page="/MainPages/SystemMap">Map</a>
        </div>
    </div>
    <div class="floater">
        <input type="text" placeholder="Search...">
        <div class="floater-content">
            <!--Display Routes here-->
            @foreach (var route in Model.Routes)
            {
                <p>@route.LongName</p>
            }
            <a asp-page="/RouteOptions/RouteSummary">Route Options</a>
        </div>
    </div>
    <form>
        <input type="file" class="hidden" id="selectfile" />
        <label class="select-file" for="selectfile">Select New File</label>
    </form>
</section>