@page
@model GTFS_Explorer.FrontEnd.Pages.MainPages.SystemMapModel
@{
    ViewData["Title"] = "SystemMap";
}

<section>
    <div class="header">
        <div class="header-right">
            <a asp-page="/MainPages/Routes">Routes</a>
            <a asp-page="/MainPages/Stops">Stops</a>
            <a class="active" asp-page="/MainPages/SystemMap">Map</a>
        </div>
    </div>
    <div class="container">
        <div id="system-map"></div>
    </div>
    <form>
        <input type="file" class="hidden" id="selectFile" />
        <label class="select-file" for="selectFile">Select New File</label>
    </form>
</section>

@section Scripts
{
    <script>
        hideLoader();
		const systemMap = L.map('system-map').setView([51.5, -0.09], 13);
		const osmAttribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
		const osmTileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';

		const tiles = L.tileLayer(osmTileUrl, {
			attribution: osmAttribution
		});

		tiles.addTo(systemMap);

		const marker = L.marker([51.5, -0.09])

		marker.addTo(systemMap)
			.bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
			.openPopup();
    </script>
}