@page
@model GTFS_Explorer.FrontEnd.Pages.RouteOptions.RouteSummaryModel
@{
    ViewData["Title"] = "RouteSummary";
}

<section>
    <div class="header">
        <div class="header-right">
            <a class="active" asp-page="/RouteOptions/RouteSummary">Summary</a>
            <a asp-page="/RouteOptions/RouteMap">Route Map</a>
            <a asp-page="/RouteOptions/StopList">Stop List</a>
            <a asp-page="/RouteOptions/Schedule">Schedule</a>
        </div>
    </div>
    <div class="floater">
        <div class="floater-content">
        </div>
    </div>
    <form>
        <input type="file" id="selectFile" class="hidden" />
        <label class="select-file" for="selectFile">Select New File</label>
        <a asp-page="/MainPages/Routes" id="returnToRoutes" />
        <label class="select-file" for="returnToRoutes">Return to Routes</label>
    </form>
</section>