@page "{routeId}"
@model GTFS_Explorer.FrontEnd.Pages.RouteOptions.RouteMapModel
@{
    ViewData["Title"] = "RouteMap";
}

<section>
	<div class="header">
		<div class="header-right">
			<a asp-page="/RouteOptions/RouteSummary"
			   asp-route-routeId="@Model.RouteId">Summary</a>
			<a class="active"
			   asp-page="/RouteOptions/RouteMap"
			   asp-route-routeId="@Model.RouteId">Route Map</a>
			<a asp-page="/RouteOptions/StopList"
			   asp-route-routeId="@Model.RouteId">Stop List</a>
			<a asp-page="/RouteOptions/Schedule"
			   asp-route-routeId="@Model.RouteId">Schedule</a>
		</div>
	</div>
	<div class="floater container">
		<div class="row h-100 d-block" id="route-map"></div>
	</div>
	<form>
		<input type="file" id="selectFile" class="hidden" />
		<label class="select-file" for="selectFile">Select New File</label>
		<a asp-page="/MainPages/Routes" id="returnToRoutes" />
		<label class="select-file" for="returnToRoutes">Return to Routes</label>
	</form>
</section>

@section Scripts 
{
	<script>
		const routeMap = L.map('route-map').setView([51.5, -0.09], 13);
		const osmAttribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
		const osmTileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';

		const tiles = L.tileLayer(osmTileUrl, {
			attribution: osmAttribution
		});

		tiles.addTo(routeMap);

		//const marker = L.marker([51.5, -0.09]);
		//marker.addTo(routeMap)
		//	.bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
		//	.openPopup();
	</script>
}