@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center container">
    <div id="welcome" class="container">
        <h3>WELCOME TO THE TRANSIT FEED EXPLORER!</h3>
        <form id="main-form" class="my-form" asp-action="/MainPages/Selection">
            <div id="drop-area">
                <p>Drag or upload a file to begin</p>
                <i class="fas fa-cloud-upload-alt fa-2x"></i>
                <input type="file" id="fileElem" @*accept="image/*" onchange="handleFiles(this.files)"*@>
                <label class="button" for="fileElem">BROWSE</label>
            </div>
            <div class="d-flex justify-content-center">

                <button class="@(Model.isValidFile ? "btn button submit" : "btn disabled submit")"
                        type="submit"
                        @(Model.isValidFile ? "" : "disabled" )>
                    SUBMIT
                </button>
            </div>
        </form>
    </div>
</div>