body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: linear-gradient( rgba(0, 0, 0, .75), rgba(0, 0, 0, .8) ), url("../images/map.png");
    background-size: cover;
    position: relative;
    height: 100%;
}

.header {
    overflow: hidden;
    background-color: transparent;
    /*padding: 5px 5px;*/
    width: 90%;
    margin-left: 40px;
}

/* Style the header links */
.header a {
    background-color: black;
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    -webkit-border-top-left-radius: 15px -webkit-border-top-right-radius:15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    background-color: #ECA227;
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: left;
}

.floater {
    background-color: #434344;
    height: 525px;
    width: 90%;
    margin-left: 40px;
}

.floater-content {
    float: left;
    height: 80%;
    width: 50%;
    background-color: #EFEEED;
    margin-top: 20px;
    margin-left: 30px;
    overflow:auto;
}

.floater-background-color {
    background-color: #EFEEED;
}

.floater input[type=text] {
    background-color: #ccc;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 40px;
    margin-right: 40px;
    font-size: 17px;
}

#welcome {
    background-color: #EFEEED;
    border: 2px solid #ECA227;
    border-radius: 20px;
    width: 380px;/*
    height: 250px;*/
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
}

#drop-area {
    background-color: #EFEEED;
    border: 2px dashed #087983;
    border-radius: 20px;
    width: 280px;
    font-family: sans-serif;
    margin: auto;
    padding: 20px;
}

#drop-area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

.button {
    margin-left: 100px;
    display: inline-block;
    padding: 10px;
    background: #414042;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    /*background: #ddd;*/
    opacity: 0.7;
}

.submit {
    margin-left: 150px;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    background: #A3CD3D;
    cursor: pointer;
    border-radius: 5px;
}

.submit:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}

.disabled {
    background: #ddd;
}

.disabled:hover {
    cursor: initial;
    background: #ddd;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: transparent;
    font-family: sans-serif;
    color: white;
    margin: 45px auto;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #ECA227;
    float: none;
    border: none;
    margin: 10px;
    color: white;
    text-align: center;
    outline: none;
    cursor: pointer;
    padding: 20px;
    transition: 0.3s;
    border-radius: 10px;
    text-decoration: none;
    -webkit-border-top-left-radius: 15px -webkit-border-top-right-radius:15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.select-file {
    background: #A3CD3D;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.select-file:hover {
    background: #ddd;
}

.hidden {
    display: none;
}

/*Style Routes Table*/
.routes-tbody tr {
    cursor: pointer;
}
/*End Style Routes Table*/

/*Style of all bordered tables*/
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border: 2px solid #f8f9fa;
    vertical-align: central;
}

.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td {
    border: 2px solid #f8f9fa;
    vertical-align: central;
}

.bootstrap-table-override > td, 
.bootstrap-table-override > th {
    vertical-align: central;
}

/*.table-bordered td, .table-bordered th {
    border: 2px solid #f8f9fa;
}*/
/*End Style of all bordered tables*/

/*Custom Scrollbar From: 
    https://css-tricks.com/the-current-state-of-styling-scrollbars/
*/
.scrollbar {
    float: left;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

#wrapper {
    text-align: center;
    width: 500px;
    margin: auto;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/*End Custom ScrollBar*/

/*Loader Screen from: 
    https://ihatetomatoes.net/create-custom-preloading-screen/
*/
#loader {
    display: none;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #A3CD3D;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ECA227;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #EFEEED;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}

#fader {
    opacity: 0.5;
    background: black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}
/*End Loader Screen*/

.mouse-pointer {
    cursor: pointer;
}

/*Map Styles*/
#system-map {
    height: 550px;
}
/*End Map Styles*/

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 90%) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}