@page "{stopId}"
@model GTFS_Explorer.FrontEnd.Pages.StopOptions.NearbyStopsModel
@{
    ViewData["Title"] = "NearbyStops";
}

<section>
    <div class="header">
        <div class="header-right">
            <a asp-page="/StopOptions/StopSummary" asp-route-stopId="@Model.StopId">Summary</a>
            <a asp-page="/StopOptions/StopSchedule" asp-route-stopId="@Model.StopId">Stop Schedule</a>
            <a class="active" asp-page="/StopOptions/NearbyStops" asp-route-stopId="@Model.StopId">Nearby Stops</a>
        </div>
    </div>
    <div class="floater">
        <div class="floater-content">
        </div>
    </div>
    <form>
        <input type="file" id="selectFile" class="hidden" />
        <label class="select-file" for="selectFile">Select New File</label>
        <a asp-page="/MainPages/Stops" id="returnToStops" />
        <label class="select-file" for="returnToStops">Return to Stops</label>
    </form>
</section>